<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>BarSevlet</servlet-name>
        <servlet-class>Web.BarSevlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Cart</servlet-name>
        <servlet-class>Web.CartSevlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProductSevlet</servlet-name>
        <servlet-class>Web.ProductSevlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginSevlet</servlet-name>
        <servlet-class>Web.LoginSevlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegisterSevlet</servlet-name>
        <servlet-class>Web.RegisterSevlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PaySevlet</servlet-name>
        <servlet-class>Web.PaySevlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProductAdminSevlet</servlet-name>
        <servlet-class>Web.ProductAdminSevlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddProductServlet</servlet-name>
        <servlet-class>Web.AddProductServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdatePriceSevlet</servlet-name>
        <servlet-class>Web.UpdatePriceSevlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>BarSevlet</servlet-name>
        <url-pattern>/bar/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Cart</servlet-name>
        <url-pattern>/cart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProductSevlet</servlet-name>
        <url-pattern>/product</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginSevlet</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegisterSevlet</servlet-name>
        <url-pattern>/register</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PaySevlet</servlet-name>
        <url-pattern>/pay</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProductAdminSevlet</servlet-name>
        <url-pattern>/home_admin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddProductServlet</servlet-name>
        <url-pattern>/AddProduct</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdatePriceSevlet</servlet-name>
        <url-pattern>/updateprice</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
